{{!-- <div class='review-show-page'>
<div class='review-head'>
    <div class='text-center review-header'>
        <h2>Reviews</h2>
    </div>
    <div class='review-container container'>
    {{#each reviews as |review|}}
    <div class='review-body-container'>
    <div class='review-container-body'>
    <div class='review-body'>
    <br>
    <p class='review-post'>{{review.body}}</p>
    <hr>
    <p class='review-time'>Posted {{review.createdAt}}</p>
    </div>
    </div>
    </div>
    {{/each}}
    </div>
</div>
</div> --}}
<div class='review-show-page'>
<div class='review-head'>
    <div class='text-center review-header'>
        <h2>Reviews</h2>
    </div>
    {{#if reviews}}
    <div class='review-container container'>
    {{#each reviews as |review|}}
    <div class='review-body-container'>
    <div class='review-container-body'>
    <div class='review-body'>
    <br>
    <p class='review-post'>{{review.body}}</p>
    <hr>
    <p class='review-time'>Posted {{review.createdAt}}</p>
    </div>
    </div>
    </div>
    {{/each}}
    </div>
    {{else}}
    <h3>No Reviews have been posted on this tutor</h3>
    {{/if}}
</div>
</div>