<div class='parent-container'>
<div class='container-profile'>
  <div class='container-profile2'>
    <div class='image-links image'>
    <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" alt="" class='image-fluid' style='border-radius: 100px;'>
    </div>
    <div class='tutor-info'>
      <h3 class="card-title">{{user.first}} {{user.last}}</h3>
    <p class="card-text">{{user.school}}</p>
    <p class='card-text'>{{user.email}}</p>
    <p class='card-text'>{{user.tel}}</p>
    <p class='card-text'>{{user.class}}</p>
    <div class="btn-group-vertical">
    <a href='/users/{{user._id}}/edit' class='btn btn-dark'>Edit Profile</a>
    <a href='/users/{{user._id}}/reviews/' class='btn btn-dark'>Read Your Reviews</a>
    </div>
  </div>
</div>
</div>
</div>